/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.logo a {
    color: white;
    text-decoration: none;
}

.login-btn,
.post-btn {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover,
.post-btn:hover {
    background-color: #45a049;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 4px;
    padding: 8px 0;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

.main {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.post {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    flex: 1 0 25%;
    max-width: calc(25% - 20px);
    box-sizing: border-box;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.post:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.thumbnail img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
}

.post-content {
    margin-left: 10px;
}

.post-title a {
    color: #000; /* 제목 링크의 색상을 검정으로 설정 */
    text-decoration: none; /* 링크에 밑줄 제거 */
    transition: color 0.3s ease;
}

.post-title a:hover {
    color: #555; /* 호버 시 색상 약간 어둡게 변경 */
}

.post-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.post-author {
    color: #777;
}

/* 반응형 디자인 조정 */
@media (max-width: 1200px) {
    .post {
        width: calc(33.333% - 20px); /* 작은 화면에서는 한 줄에 세 개의 게시물 */
        max-width: calc(33.333% - 20px);
        flex: 1 0 33.333%;
    }
}

@media (max-width: 768px) {
    .post {
        width: calc(50% - 20px); /* 모바일 화면에서는 한 줄에 두 개의 게시물 */
        max-width: calc(50% - 20px);
        flex: 1 0 50%;
    }
}
